[user]
	email = dev@pietrobondioli.com.br
	name = Pietro Bondioli

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	s = status
	l = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	co = checkout
	ci = commit
	br = branch
	ca = commit --amend
	cane = commit --amend --no-edit
	fa = fetch --all

[pull]
	rebase = true

[core]
	filemode = false
	autocrlf = input

